.well {
  margin-top: 50px;
}

.categories {
  padding-top: 30px;
  position: relative; left: 30px;
}

.header {
  position: relative; right: 80px;
  text-align: center;
}

#article1, #article2, #article3 {
  text-align: right;
}